<h2> 여기에서 글 써!</h2>
<form action="/update/<%=@post.id%>">
  제목 : <input type="text" name="title" value="<%=@post.title%>"/>
  내용 : <textarea name="content"><%=@post.content%></textarea>
  <input type="submit" value="야압"/>
</form>
