<!Doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>투표페이지</title>
  </head>
  <body>
    <h2>실습시간 투표 페이지</h2>
    <form action="/result">
      1시간 <input type="radio" name="count" value="1" /><br />
      2시간 <input type="radio" name="count" value="2" /><br />
      3시간 <input type="radio" name="count" value="3" /><br />
      4시간 <input type="radio" name="count" value="4" /><br />
      <input type="submit" value="뿅@" />
    </form>
  </body>
</html>
