<!Doctype HTML>
<html>
  <head>
    <title> 우와 </title>
  </head>
  <body>
    <% if @name == 'taki' %>
    <h1>사랑하는 <%= @name %>!!!!!!!!! Welcome!!!!!!</h1>
    <% else %>
    <h1><%= @name %>!!!!!!!!! Welcome!!!!!!</h1>
    <% end %>
  </body>
</html>
