<h2> 게시판입니다. </h2>
<form action="/post/create">
  작성자 : <input type="text" name="username" /> <br />
  제목 : <input type="text" name="title" placeholder="제목을 입력해주세요"/> <br />
  내용 : <textarea name="content"></textarea> <br />
  <input type="submit" value="야압!"/>
</form>
