<h2>투표합시다!!</h2>

<form action="/result">
  1시간 <input type="radio" name="vote" value="1" />
  2시간 <input type="radio" name="vote" value="2" />
  3시간 <input type="radio" name="vote" value="3" />
  4시간 <input type="radio" name="vote" value="4" />
  <input type="submit" value="뿅!" />
</form>
